[project]
name = "nemo-evaluator-launcher"
dependencies = [
  "hydra-core>=1.3.2,<2.0.0",
  "jinja2>=3.1.6,<4.0.0",
  "leptonai>=0.25.0",
  "pyyaml>=6.0.0",
  "requests>=2.32.4",
  "simple-parsing>=0.1.7,<0.2.0",
  "structlog>=25.4.0,<26.0.0",
  "tabulate>=0.9.0,<0.10.0",
  "tomli>=2.0.0,<3.0.0; python_version < '3.11'",
]
dynamic = ["version"]
readme = "README.md"
description = "Launcher for the evaluations provided by NeMo Evaluator containers with different runtime backends"
requires-python = ">=3.10,<3.14"

# BEGIN(if-changed): check package_info.py, too
authors = [{ name = "NVIDIA" }, { email = "nemo-toolkit@nvidia.com" }]
maintainers = [{ name = "NVIDIA" }, { email = "nemo-toolkit@nvidia.com" }]
license = { file = "LICENSE" }
keywords = [
  "deep learning",
  "evaluations",
  "machine learning",
  "gpu",
  "NLP",
  "pytorch",
  "torch",
]
# END(if-changed)

[project.urls]
# BEGIN(if-changed): check package_info.py
homepage = "https://github.com/NVIDIA-NeMo/Eval"
repository = "https://github.com/NVIDIA-NeMo/Evaluator/packages/nemo-evaluator-launcher"
# END(if-changed)

[project.optional-dependencies]
mlflow = ["mlflow>=2.8.0"]
wandb = ["wandb>=0.15.0"]
gsheets = ["gspread>=5.0.0"]
exporters = ["mlflow", "wandb", "gsheets"]
all = ["mlflow", "wandb", "gsheets"]

[project.scripts]
nemo-evaluator-launcher = "nemo_evaluator_launcher.cli.main:main"
nv-eval = "nemo_evaluator_launcher.cli.main:main"

[dependency-groups]
dev = [
  "pre-commit>=4.2.0,<5",
  "python-semantic-release>=10.0.0,<11",
  "pytest>=8.0.0,<9.0.0",
  "pytest-network",
  "pytest-cov>=6.2.1,<7",
  "mypy>=1.17.1",
  "types-requests>=2.32.4.20250809",
  "types-pyyaml>=6.0.12.20250822",
]

[build-system]
requires = ["setuptools>=61.0", "wheel"]
build-backend = "setuptools.build_meta"

[tool.setuptools]
package-dir = { "" = "src" }

[tool.setuptools.packages.find]
where = ["src"]

[tool.setuptools.package-data]
"nemo_evaluator_launcher" = [
  "resources/**/*",
  "configs/**/*",
  "executors/**/*.sh",
]

[tool.setuptools.dynamic]
version = { attr = "nemo_evaluator_launcher.package_info.__version__" }

[tool.ruff.lint.isort]
known-first-party = [
  "nemo_evaluator_launcher",
  "nemo_evaluator_launcher_internal",
]


[tool.coverage.run]
concurrency = ["thread", "multiprocessing"]
omit = [
  "/tmp/*",
  "/workspace/packages/nemo-evaluator-launcher/tests/*",
  "/workspace/packages/nemo-evaluator-launcher/scripts/*",
  "/workspace/packages/nemo-evaluator-launcher/*.py",
  "*_ray.py",
  "*package_info.py",
]
parallel = true
sigterm = true

[tool.coverage.paths]
source = [
  ".",
  "/workspace/packages/nemo-evaluator-launcher/",
  "/home/runner/work/Eval/Eval/packages/nemo-evaluator-launcher/",
]
